.flex {
	padding: 25px;
	height: 90vh;
	display: flex;
	align-items: center;
}

.img {
	width: 65%;
	border-radius: 49%;
}

@media (max-width: 750px) {
	.flex {
		display: flex;
		flex-direction: column !important;
		flex-wrap: nowrap !important;
		width: 100%;
	}
	.item1 {
		width: 300px;
	}
	.item2 {
		width: 100%;
	}
	.socialMedia {
		display: flex;
		justify-content: center;
	}
}
